@using SGC_MVC.CustomCode
@model SGC_MVC.Models.PlanObjective

@{
    ViewBag.Title = "Plan - Editar Objetivo";
}

<div class="section_title fluid_wrap">
    <div class="col-lg-8 pl0">
        <h1 class="the_title">Editar Objetivo de plan</h1>
    </div>
    <div class="col-lg-4 pr0"></div>
</div>

<div class="drag_and_drop_container fluid_wrap reset">
    <div class="drag_container_title">
        <h2>Datos del objetivo a modificar</h2>
    </div>
    <div class="drag_container_the_content_area drag_content_area_fluid_wrap">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "standard_form fluid_wrap" }))
        {
            @Html.ValidationSummary(true)
            <fieldset>
                @Html.HiddenFor(model => model.ID)
                @Html.HiddenFor(model => model.planID)
                <legend></legend>
                <ul class="form_items_container col-lg-6 pl0">
                    <li>
                        @Html.LabelForR(model => model.name)
                        @Html.TextBoxFor(model => model.name, new { @class = "col-lg-12 form-control" })
                        @Html.ValidationMessageFor(model => model.name)
                    </li>
                    <li>
                        @Html.LabelForR(model => model.startDate)
                        @Html.TextBoxFor(model => model.startDate, new { Value = Model.startDate.Date.ToString("yyyy/MM/dd"), @class = "date col-lg-12 form-control" })
                        @Html.ValidationMessageFor(model => model.startDate)
                    </li>
                    <li>
                        @Html.LabelForR(model => model.actions)
                        @Html.TextAreaFor(model => model.actions, new { @class = "col-lg-12 form-control" })
                        @Html.ValidationMessageFor(model => model.actions)
                    </li>
                </ul>
                <ul class="form_items_container col-lg-6 pr0">
                    <li>
                        @Html.LabelForR(model => model.responsible)
                        @Html.DropDownListFor(model => model.responsible, null, String.Empty, new { @class = "col-lg-12 form-control dropdown" })
                        @Html.ValidationMessageFor(model => model.responsible)
                    </li>
                    <li>
                        @Html.LabelForR(model => model.endDate)
                        @Html.TextBoxFor(model => model.endDate, new { Value = Model.endDate.Date.ToString("yyyy/MM/dd"), @class = "date col-lg-12 form-control" })
                        @Html.ValidationMessageFor(model => model.endDate)
                    </li>
                </ul>

                <div class="edit_title_container fluid_wrap">
                        <h3 class="edit_section_title">Recursos</h3>
                </div>

                <ul class="form_items_container col-lg-6 pl0">
                    <li>
                        @Html.Label("Infraestructura: ")
                        @Html.TextArea("infrastructure", null, new { @class = "col-lg-4 form-control textarea_level2" })
                    </li>
                </ul>
                <ul class="form_items_container col-lg-6 pr0">
                    <li>
                        @Html.Label("Humanos: ")
                        @Html.TextArea("humans", null, new { @class = "col-lg-4 form-control textarea_level2" })
                    </li>
                </ul>
                <ul class="form_items_container col-lg-12 pl0">

                    <li>
                        <div class="col-lg-4 pr0 fr">
                        <input type="button" class="button_add btstyles col-lg-5 fr addResource" value="Agregar" />
                            </div>
                        <table class="eis_table table partialTable">
                            <thead>
                                <tr>
                                    <th>Infraestructura</th>
                                    <th>Humanos</th>
                                    <th>Opciones</th>
                                </tr>
                            </thead>
                            <tbody id="table_data_container"></tbody>
                        </table>
                    </li>
                </ul>

                <ul class="form_items_container col-lg-6 pl0">
                    <li>
                        <div class="form_items_container col-lg-8 pl0">
                            <p>
                                <input type="submit" value="Guardar" class="button_save btstyles col-lg-5" />
                                @Html.ActionLink("Cancelar", "Edit", new { id = Model.planID }, new { @class = "button_cancel btstyles col-lg-5" })
                            </p>
                        </div>
                    </li>
                </ul>
                <div id="urls">
                    @Html.Hidden("addResourceUrl", @Url.Action("AddResource", "Plan"))
                    @Html.Hidden("partialUrl", Url.Action("GetResources", "Plan", new { objectiveID = Model.ID }))
                    <input id="actionModalUrl" name="actionModalUrl" type="hidden" value="" />
                </div>
            </fieldset>
            <div id="modalPanel" class="dn">
            </div>
        }
    </div>
    <!--end drag_container_the_content_area-->
</div>
<!--end drag_and_drop_container-->

@section Scripts {
    <script>
        var dataValEdit = "/SAS/Plan/EditResource/";
        var dataValDelete = "/SAS/Plan/DeleteResource/";
        var dataUrlEdit = "/SAS/Plan/EditResource/";
        var dataUrlDelete = "/SAS/Plan/DeleteResource/";
        $(document).ready(function () {
            $('#documentText').jqte();
            $(".chosen").chosen(/*{ maxSelectedOptions: 2 }*/);
            $(".chosen-deselect").chosen({ allowSingleDeselect: true });
            $(".chosen").chosen().change();
            $(".chosen").trigger('liszt:updated');

            $('.addResource').on('click', function () {
                if ($('#infrastructure').val() && $('#humans').val()) {
                    $.post(
                        $('#addResourceUrl').val(),
                        {
                            infrastructure: $('#infrastructure').val(),
                            humans: $('#humans').val(),
                            objectiveID: $('#ID').val()
                        }, function (data) {
                            alert(data);
                            RefreshTable(".partialTable", $('#partialUrl').val(), dataValEdit, dataUrlEdit, dataValDelete, dataUrlDelete);
                            $('#infrastructure').val('');
                            $('#humans').val('');
                        });
                }
                else {
                    alert('debe llenar todos los campos del recurso a incluir');
                }
            });
            RefreshTable(".partialTable", $('#partialUrl').val(), dataValEdit, dataUrlEdit, dataValDelete, dataUrlDelete);

            $('#modalPanel').dialog({
                title: 'Actualizar recurso',
                moveToTop: true,
                autoOpen: false,
                width: 540,
                height: 460,
                resizable: false,
                draggable: false,
                modal: true,
                buttons: {
                    "Guardar": function () {
                        if (!$('.infrastructureModal').val() || !$('.humansModal').val()) {
                            alert('debe insertar toda la información de la actividad');
                        }
                        else {

                            $.post(
                                $('#actionModalUrl').val(),
                                {
                                    infrastructure: $('.infrastructureModal').val(),
                                    humans: $('.humansModal').val(),
                                    resourceID: $('.ID').val()
                                },
                                function (data) {
                                    RefreshTable(".partialTable", $('#partialUrl').val(), dataValEdit, dataUrlEdit, dataValDelete, dataUrlDelete);
                                    alert(data);
                                }
                            );
                            $(this).dialog("close");
                        }

                    },
                    "Cancelar": function () {
                        $(this).dialog("close");
                    }
                }
            });

            $('#startDate').datepicker({ dateFormat: 'yy/mm/dd' });
            $('#endDate').datepicker({ dateFormat: 'yy/mm/dd' });
        });
    </script>
}
