@model SGC_MVC.Models.Document
@using SGC_MVC.CustomCode; 

@{ 
    ViewBag.Title = "Politicas - Eliminar";
}

<div class="section_title fluid_wrap">
    <div class="col-lg-8 pl0">
        <h1 class="the_title">Eliminar datos de Sub Documento</h1>
    </div>
    <div class="col-lg-4 pr0"></div>
</div>

<div class="drag_and_drop_container fluid_wrap reset">
    <div class="drag_container_title">
        <h2>¿Esta seguro que desea eliminar los datos de este Sub Documento?</h2>
    </div>
    <div class="drag_container_the_content_area drag_content_area_fluid_wrap">
        <ul class="form_items_container col-lg-6 pl0">
            <li>
                @Html.DisplayNameFor(model => model.EDT)<br />
                @Html.DisplayFor(model => model.EDT)
            </li>

            <li>
                @Html.DisplayNameFor(model => model.title)<br />
                @Html.DisplayFor(model => model.title)
            </li>

            <li>
                @Html.DisplayNameFor(model => model.version)<br />
                @Html.DisplayFor(model => model.version)
            </li>

            @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "standard_form fluid_wrap" }))
            {
                <li>
                    <div class="form_items_container col-lg-8 pl0">
                        <br />
                        <p>
                            <input type="submit" value="Eliminar" class="button_delete btstyles col-lg-5" />
                            @Html.ActionLink(
                                "Regresar",
                                (Model.Document2.Document2 == null) ? "Edit" : "EditChild",
                                new { id = Model.documentParentID },
                                new { @class="button_go_back btstyles col-lg-5" })
                        </p>
                    </div>
                </li>
            }
            @Html.Hidden("childCount", Model.Document1.Count)
        </ul>
    </div>
    <!--end drag_container_the_content_area-->
</div>
<!--end drag_and_drop_container-->

@section Scripts{
    <script>
        $(document).ready(function () {
            $('.button_delete').on("click", function (event) {
                if ($('#childCount').val() > 0) {
                    if (confirm('Este documento tiene sub documentos asociados, ¿esta seguro de que desea eliminarlo?')) {
                        $('.standard_form').submit();
                    }
                }
                else {
                    $('.standard_form').submit();
                }
                event.preventDefault();
            });
        });
    </script>
}