@model SGC_MVC.Models.InstructionWork
@using SGC_MVC.CustomCode; 
 @{ 
 ViewBag.Title = "Instruccion de trabajo - Crear";
}

<div class="section_title fluid_wrap">
    <div class="col-lg-8 pl0">
        <h1 class="the_title">Registrar nueva Instrucci&oacute;n de trabajo</h1>
    </div>
    <div class="col-lg-4 pr0"></div>
</div>

<div class="drag_and_drop_container fluid_wrap reset">
    <div class="drag_container_title">
        <h2>Datos de la Instrucci&oacute;n de trabajo a registrar</h2>
    </div>
    <div class="drag_container_the_content_area drag_content_area_fluid_wrap">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "standard_form fluid_wrap" }))
        {
            @Html.ValidationSummary(true)

            <fieldset>
                @Html.Hidden("validateUniq","InstructionWorks&Nombre")
                <legend></legend>
                <ul class="form_items_container col-lg-6 pl0">
                    <li>
                        @Html.LabelForR(model => model.ruleID)
                        @Html.DropDownListFor(model => model.ruleID, null, String.Empty, new { @class = "col-lg-12 form-control dropdown" })
                        @Html.ValidationMessageFor(model => model.ruleID)
                    </li>
                    <li>
                        @Html.LabelForR(model => model.name)
                        @Html.TextBoxFor(model => model.name, new { @class = "col-lg-12 form-control" })
                        @Html.ValidationMessageFor(model => model.name)
                    </li>
                    <li>
                        @Html.LabelForR(model => model.departmentID)
                        @Html.DropDownListFor(model => model.departmentID, null, String.Empty, new { @class = "col-lg-12 form-control" })
                        @Html.ValidationMessageFor(model => model.departmentID)
                    </li>
                    <li>
                        <div class="form_items_container col-lg-8 pl0">
                            <p>
                                <input type="submit" value="Guardar" class="button_save btstyles col-lg-5" />
                                @Html.ActionLink("Cancelar", "Index", null, new { @class="button_cancel btstyles col-lg-5" })
                            </p>
                        </div>
                    </li>
                </ul>
                <ul class="form_items_container col-lg-6 pr0">
                    <li>
                        @Html.LabelForR(model => model.processID)
                        @Html.DropDownListFor(model => model.processID, null, String.Empty, new { @class = "col-lg-12 form-control" })
                        @Html.ValidationMessageFor(model => model.processID)
                    </li>
                    <li>
                        @Html.LabelForR(model => model.responsible)
                        @Html.DropDownListFor(model => model.responsible, null, String.Empty, new { @class = "col-lg-12 form-control" })
                        @Html.ValidationMessageFor(model => model.responsible)
                    </li>
                </ul>
            </fieldset>
        }
    </div>
    <!--end drag_container_the_content_area-->
</div>
<!--end drag_and_drop_container-->
