@model SGC_MVC.Models.ViewModels.ObjectivesViewModel
@using SGC_MVC.CustomCode; 
 @{ 
 ViewBag.Title = "Objetivos - Crear";
}

<div class="section_title fluid_wrap">
    <div class="col-lg-8 pl0">
        <h1 class="the_title">Registrar nuevo Objetivo</h1>
    </div>
    <div class="col-lg-4 pr0"></div>
</div>

<div class="drag_and_drop_container fluid_wrap reset">
    <div class="drag_container_title">
        <h2>Datos del OBjetivo</h2>
    </div>
    <div class="drag_container_the_content_area drag_content_area_fluid_wrap">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "standard_form fluid_wrap" }))
        {
            @Html.ValidationSummary(true)

            @Html.Hidden("validateComposite","Document(title,documentTypeID)&Nombre&Tipo")
            @Html.Hidden("documentTypeID", (int)ViewBag.documentTypeID)
            <fieldset>
                <legend></legend>

                <ul class="form_items_container col-lg-6 pl0">
                    <li>
                        <label>@ViewBag.done</label>
                    </li>
                    <li>
                        @Html.LabelForR(model => model.title)
                        @Html.TextBoxFor(model => model.title, new { @class = "col-lg-12 form-control validateComposite" })
                        @Html.ValidationMessageFor(model => model.title)
                    </li>

                    <li>
                        @Html.LabelForR(model => model.document_text)
                        @Html.TextAreaFor(model => model.document_text, new { @class = "col-lg-12 form-control textarea_level2" })
                        @Html.ValidationMessageFor(model => model.document_text)
                    </li>

                    <li>
                        @Html.Label("Normas asociadas: *")
                        @Html.ListBoxFor(m => m.selectedRules, Model.allRules, new { @class = "chosen", multiple = "multiple" })
                    </li>

                    <li>
                        <div class="form_items_container col-lg-8 pl0">
                            <p>
                                <input type="submit" value="Guardar" class="button_save btstyles col-lg-5" />
                                @Html.ActionLink("Cancelar", "Index", null, new { @class="button_cancel btstyles col-lg-5" })
                            </p>
                        </div>
                    </li>
                </ul>
            </fieldset>
        }
    </div>
    <!--end drag_container_the_content_area-->
</div>
<!--end drag_and_drop_container-->

@section Scripts {
    <script>
        $('#document_text').jqte();
        $(".chosen").chosen(/*{ maxSelectedOptions: 2 }*/);
        $(".chosen-deselect").chosen({ allowSingleDeselect: true });
        $(".chosen").chosen().change();
        $(".chosen").trigger('liszt:updated');

        $(document).ready(function () {
            
        });
    </script>
}
