@model SGC_MVC.Models.SubMenu
@using SGC_MVC.CustomCode; 
 @{ 
 ViewBag.Title = "Sub Menu - Eliminar";
}

<h2>Eliminar</h2>

<h3>Esta seguro de eliminar este sub menu?</h3>
<fieldset>
    <legend>Eliminar sub menu</legend>

    <div >
         @Html.DisplayNameFor(model => model.Menu.name)
    </div>
    <div >
        @Html.DisplayFor(model => model.Menu.name)
    </div>

    <div >
         @Html.DisplayNameFor(model => model.name)
    </div>
    <div >
        @Html.DisplayFor(model => model.name)
    </div>

    <div >
         @Html.DisplayNameFor(model => model.View.name)
    </div>
    <div >
        @Html.DisplayFor(model => model.View.name)
    </div>

    <div >
         @Html.DisplayNameFor(model => model.noOrder)
    </div>
    <div >
        @Html.DisplayFor(model => model.noOrder)
    </div>
</fieldset>
@using (Html.BeginForm()) {
    <p>
        <input type="submit" value="Eliminar" /> |
        @Html.ActionLink("Regresar al inicio", "Index")
    </p>
}
