<div class="row">
    <div class="col-md-12 text-center">
        <h4>Web Scraper | With Source Code </h4>
        <br />
    </div>
    <div class="col-md-12 text-center">
        <div class="card">
            <div class="card-body">
                <p class="card-text"> <strong> Below are the examples </strong> of using web scraper, You can extract any information you need using below methods. <br /> Also you <strong> can extent the code </strong> to any level as per your own logic.</p>
                <p>Even you can extend your logic to extract the emails, name , address ,etc for the people. <br /> Means you can automate your email marketing tasks based on these examples.</p>
                <br />
                <a href="#" class="btn btn-secondary"> Also see, Video Tutorials Here !! </a>
            </div>
        </div>
        <br />
    </div>
    <div class="col-md-6">
        <div class="alert alert-success" role="alert">
            <h4 class="alert-heading">Get Websites From Google Search !</h4>
            <p>Click Below link if you want to extract the websites from the google search engine for a specific keyword.</p>
            <hr>
            <p class="mb-0">
                <a target="_blank"  href="@Url.Action("GetWebsiteFromGoogleSearch","Home")" class="btn btn-success"> Click Here To See </a>
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="alert alert-warning" role="alert">
            <h4 class="alert-heading">Get Urls From ASK Search !</h4>
            <p>If you want to extract All the Urls from the ASK search engine for a specific keyword use below link.</p>
            <hr>
            <p class="mb-0">
                <a target="_blank" href="@Url.Action("GetUrlsFromAskSearch","Home")" class="btn btn-warning"> Click Here To See </a>
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="alert alert-danger" role="alert">
            <h4 class="alert-heading">Get Specific Text From a Page !</h4>
            <p>For getting a specific data from a specific Url using an <strong> ID attribute </strong> from page source, you can use the below link.</p>
            <hr>
            <p class="mb-0">
                <a target="_blank"  href="@Url.Action("GetDataByID","Home")" class="btn btn-danger"> Click Here To See </a>
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="alert alert-primary" role="alert">
            <h4 class="alert-heading">Get List of Items From a Page !</h4>
            <p>If you want to get specific list of items from a specific Url using an <strong> class attribute </strong>from page source, you can use the below link.</p>
            <hr>
            <p class="mb-0">
                <a target="_blank" href="@Url.Action("GetDataByClass","Home")" class="btn btn-primary"> Click Here To See </a>
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="alert alert-secondary" role="alert">
            <h4 class="alert-heading">Get Email Ids From Google Search  !</h4>
            <p>Get list of all emails for a  <strong> specific keyword </strong> from google search engine.</p>
            <hr>
            <p class="mb-0">
                <a target="_blank" href="@Url.Action("GetEmailFromGoogleSearch","Home")"  class="btn btn-secondary"> Click Here To See </a>
            </p>
        </div>
    </div>
    <div class="col-md-6">
        <div class="alert alert-info" role="alert">
            <h4 class="alert-heading">Get Page Title From a Specific Url !</h4>
            <p>If you want to get the <strong> Page Title</strong> from a specific Url, you can use the below link.</p>
            <hr>
            <p class="mb-0">
                <a target="_blank" href="@Url.Action("GetPageTitleFromURL","Home")" class="btn btn-info"> Click Here To See </a>
            </p>
        </div>
    </div>
</div>



