@model Hospital_Management_System.CollectionViewModels.AppointmentCollection

@{
    ViewBag.Title = "EditAppointment";
    Layout = "~/Views/Shared/_DoctorLayout.cshtml";
}

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Appointment</li>
        <li class="active">Edit Appointment</li>
    </ol>
</div>

<h2>Edit Appointment</h2>

@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.Appointment.Id)

        <div class="form-group">
            @Html.LabelFor(model => model.Appointment.PatientId, "PatientId", htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.Appointment.PatientId, new SelectList(Model.Patients, "Id", "FullName"), "Select Patient", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Appointment.PatientId, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Appointment.AppointmentDate, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Appointment.AppointmentDate, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Appointment.AppointmentDate, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Appointment.Problem, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.TextAreaFor(model => model.Appointment.Problem, new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.Appointment.Problem, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.Appointment.Status, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.CheckBoxFor(model => model.Appointment.Status, new { @style = "margin-top:10px" })
                @Html.ValidationMessageFor(model => model.Appointment.Status, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Save" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @if (Model.Appointment.Status)
    {
        @Html.ActionLink("Back to List", "ActiveAppointments")
    }
    else
    {
        @Html.ActionLink("Back to List", "PendingAppointments")
    }
</div>
