@model SGC_MVC.Models.DocumentType
@using SGC_MVC.CustomCode; 
 @{ 
 ViewBag.Title = "Tipo de documento - Eliminar";
}

<div class="section_title fluid_wrap">
    <div class="col-lg-8 pl0">
        <h1 class="the_title">Eliminar datos del tipo de documento</h1>
    </div>
    <div class="col-lg-4 pr0"></div>
</div>

<div class="drag_and_drop_container fluid_wrap reset">
    <div class="drag_container_title">
        <h2>¿Esta seguro que desea eliminar este tipo de documento?</h2>
    </div>
    <div class="drag_container_the_content_area drag_content_area_fluid_wrap">
        <ul class="form_items_container col-lg-6 pl0">
            <li >
                @Html.LabelFor(model => model.name)<br />
                @Html.DisplayFor(model => model.name)
            </li>

            <li >
                @Html.LabelFor(model => model.description)<br />
                @Html.DisplayFor(model => model.description)
            </li>

            @using (Html.BeginForm())
            {
                <li>
                    <div class="form_items_container col-lg-8 pl0">
                        <br />
                        <p>
                            <input type="submit" value="Eliminar" class="button_delete btstyles col-lg-5" />
                            @Html.ActionLink("Cancelar", "Index", null, new { @class="button_cancel btstyles col-lg-5" })
                        </p>
                    </div>
                </li>
            }
        </ul>
    </div>
    <!--end drag_container_the_content_area-->
</div>
<!--end drag_and_drop_container-->
