@using Hospital_Management_System.Models
@model Hospital_Management_System.Models.Announcement

@{
    ViewBag.Title = "AddAnnouncement";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Announcement</li>
        <li class="active">Add Announcement</li>
    </ol>
</div>

<h2>Add Announcement</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        <div class="form-group">
            @Html.LabelFor(model => model.Announcements, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Announcements, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.Announcements, "", new { @class = "text-danger" })
            </div>
        </div>
        
        @{
            var list = new List<Announcement>
            {
                new Announcement {AnnouncementFor = "Doctor"},
                new Announcement {AnnouncementFor = "Patient"}
            };
        }

        <div class="form-group">
            @Html.LabelFor(model => model.AnnouncementFor, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.DropDownListFor(model => model.AnnouncementFor,new SelectList(list, "AnnouncementFor", "AnnouncementFor"), "Select", new { @class = "form-control" })
                @Html.ValidationMessageFor(model => model.AnnouncementFor, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.End, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.End, new { htmlAttributes = new { @class = "form-control" } })
                @if (ViewBag.Messege != null)
                {
                    <span class="text-danger">@ViewBag.Messege</span>
                }
                @Html.ValidationMessageFor(model => model.End, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-success" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "ListOfAnnouncement")
</div>
