@model IEnumerable<Hospital_Management_System.Models.Ambulance>

@{
    ViewBag.Title = "ListOfAmbulances";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Ambulance</li>
        <li class="active">List of Ambulances</li>
    </ol>
</div>

<h2>List Of Ambulances</h2>

<p>
    @Html.ActionLink("Add Ambulance", "AddAmbulance", null, new { @class = "btn btn-primary" })
</p>
<table id="table_id" class="table">
    <thead>
        <tr>
            
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmbulanceId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AmbulanceStatus)
            </th>
            <th>
                Driver Name
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmbulanceId)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmbulanceStatus)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AmbulanceDriver.Name)
                </td>
                <td>
                    <a href="@Url.Action("EditAmbulance", new {id = item.Id})" class="fa fa-pencil-square-o" style="font-size: 19px"></a> |
                    <a href="@Url.Action("DeleteAmbulance", new {id = item.Id})" class="fa fa-trash" style="font-size: 19px; color: red"></a>
                </td>
            </tr>
        }
    </tbody>
</table>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#table_id").dataTable();
        });
    </script>
}