@model IEnumerable<Hospital_Management_System.Models.Announcement>

@{
    ViewBag.Title = "ListOfAnnouncement";
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<div class="row">
    <ol class="breadcrumb">
        <li>
            <a href="#">
                <em class="fa fa-home"></em>
            </a>
        </li>
        <li class="active">Announcement</li>
        <li class="active">List of Announcement</li>
    </ol>
</div>

<h2>List Of Announcement</h2>

<p>
    @Html.ActionLink("Create New", "AddAnnouncement", null, new { @class = "btn btn-primary" })
</p>
<table id="table_id" class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Announcements)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.AnnouncementFor)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.End)
            </th>
            <th>Action</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Announcements)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.AnnouncementFor)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.End)
                </td>
                <td>
                    <a href="@Url.Action("EditAnnouncement", new {id = item.Id})" class="fa fa-pencil-square-o" style="font-size: 19px"></a> |
                    <a href="@Url.Action("DeleteAnnouncement", new {id = item.Id})" class="fa fa-trash" style="font-size: 19px; color: red"></a>
                </td>
            </tr>
        }
    </tbody>

</table>

@section scripts {
    <script>
        $(document).ready(function () {
            $("#table_id").dataTable();
        });
    </script>
}
