@model IEnumerable<SGC_MVC.Models.User>

@{
    string Label = new SGC_MVC.Helpers.MenuAuthorize().getMenuLabel(Request);
    ViewBag.Title = Label + " - Inicio";
}

<div class="section_title fluid_wrap">
    <div class="col-lg-8 pl0">
        <h1 class="the_title">@Label</h1>
    </div>
    <div class="col-lg-4 pr0"></div>
</div>

<div class="drag_and_drop_container fluid_wrap reset">
    <div class="drag_container_title">
        <h2>@Label de la aplicación</h2>
    </div>
    <div class="drag_container_the_content_area drag_content_area_fluid_wrap">
        <ul class="form_items_container col-lg-4 pr0 fr">
            <li>
                <p>
                    @Html.ActionLink("Agregar", "Register", null, new { @class = "button_add btstyles col-lg-5 fr" })
                </p>
            </li>
        </ul>
        <table class="eis_table table normalTable">
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.name)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.status)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.username)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.lastVisitAt)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.superUser)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.departmentID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.companyID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.createDate)
                </th>
                <th>Opciones
                </th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.status)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.username)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.lastVisitAt)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.superUser)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Department.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Company.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.createDate)
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.ID }, new { @class = "edit_link button_link" })
                        @Html.ActionLink("Ver detalles", "Details", new { id = item.ID }, new { @class = "add_link button_link" })
                        @Html.ActionLink("Eliminar", "Delete", new { id = item.ID }, new { @class = "delete_link button_link" })
                    </td>
                </tr>
            }
        </table>
    </div>
    <!--end drag_container_the_content_area-->
</div>
<!--end drag_and_drop_container-->
