@using SGC_MVC.CustomCode;
@model SGC_MVC.Models.Webpages_Roles
 
@{ 
    ViewBag.Title = "Roles - Editar";
}

<div class="section_title fluid_wrap">
    <div class="col-lg-8 pl0">
        <h1 class="the_title">Actualizar informaci&oacute;n del Rol</h1>
    </div>
    <div class="col-lg-4 pr0"></div>
</div>

<div class="drag_and_drop_container fluid_wrap reset">
    <div class="drag_container_title">
        <h2>Datos del rol a editar</h2>
    </div>
    <div class="drag_container_the_content_area drag_content_area_fluid_wrap">
        @using (Html.BeginForm(null, null, FormMethod.Post, new { @class = "standard_form fluid_wrap" }))
        {
            @Html.ValidationSummary(true)

            <fieldset>
                @Html.HiddenFor(model => model.RoleID)
                <legend></legend>
                @Html.Hidden("validateUniq","Webpages_Roles&Nombre")
                <ul class="form_items_container col-lg-6 pl0">
                    <li>
                        @Html.LabelForR(model => model.RoleName)
                        @Html.TextBoxFor(model => model.RoleName, new { @class = "col-lg-12 form-control" })
                        @Html.ValidationMessageFor(model => model.RoleName)
                    </li>

                    <li>
                        @Html.LabelForR(model => model.RoleDescription)
                        @Html.TextAreaFor(model => model.RoleDescription, new { @class = "col-lg-12 form-control" })
                        @Html.ValidationMessageFor(model => model.RoleDescription)
                    </li>

                    <li>
                        <div class="form_items_container col-lg-8 pl0">
                            <p>
                                <input type="submit" value="Guardar" class="button_save btstyles col-lg-5" />
                                @Html.ActionLink("Cancelar", "Index", null, new { @class="button_cancel btstyles col-lg-5" })
                            </p>
                        </div>
                    </li>
                </ul>
            </fieldset>
        }
    </div>
    <!--end drag_container_the_content_area-->
</div>
<!--end drag_and_drop_container-->

@section Scripts {
}
