@using SGC_MVC.Models
@using SGC_MVC.CustomCode

@model SGC_MVC.Models.Procedure
@{ 
    ViewBag.Title = "Procedimiento - Detalles";
    string logo = ViewBag.companyLogo;
    ICollection<HistProcedure> hps = ViewBag.histProcedures;
}

<div class="section_title fluid_wrap">
    <div class="col-lg-8 pl0">
        <h1 class="the_title">Informaci&oacute;n detalla del procedimiento</h1>
    </div>
    <div class="col-lg-4 pr0"></div>
</div>

<div class="drag_and_drop_container fluid_wrap reset">
    <div class="drag_container_title">
        <h2>Datos del procedimiento</h2>
    </div>
    <div class="drag_container_the_content_area drag_content_area_fluid_wrap">
        <div class="documents_detail reset fluid_wrap">
            <div class="detail_heading">
                <div class="detail_img_container">
                    <img src="~/Uploads/CompanyLogos/@logo" width="126" height="95" alt="Logotipo">
                </div>
                <ul class="column col-lg-7 pl0">
                    <li><span class="about_title">Ficha del Procedimiento</span></li>
                    <li><span class="about_title">Procedimiento:</span>   <span class="the_info">@Model.name</span></li>
                    <li><span class="about_title">Responsable:</span> <span class="the_info">@Model.Position.name</span></li>
                </ul>
                <ul class="column col-lg-3 pl0">
                    <li><span class="about_title">Código:</span> <span class="the_info">PC-FP-001</span></li>
                    <li><span class="about_title">Versión:</span>   <span class="the_info">@string.Format("{0}.0", Model.version)</span></li>
                    <li><span class="about_title">Proceso relacionado:</span> <span class="the_info">@Model.Process.name</span></li>
                </ul>
            </div>
            <!--end detail_heading-->
            <div class="detail_description_area fluid_wrap">
                <div class="detail_title_container fluid_wrap">
                    <h3 class="detail_section_titles">Historial de Versiones</h3>
                </div>
                <table class="eis_table table">
                    <thead>
                        <tr>
                            @{ HistProcedure M = new HistProcedure(); }
                            <th>@Html.DisplayNameFor(s => M.name)</th>
                            <th>@Html.DisplayNameFor(m => M.version)</th>
                            <th>@Html.DisplayNameFor(m => M.dateAdd)</th>
                            <th>@Html.DisplayNameFor(m => M.createUser)</th>
                        </tr>
                    </thead>
                    <tbody>
                        @if (hps.Count() == 0)
                        {
                        
                            <tr>
                                <td colspan="4">No hay registros para mostrar</td>
                            </tr>
                        }
                        else
                        {
                            foreach (HistProcedure hp in hps)
                            {
                            <tr>
                                <td>
                                    @Html.DisplayFormattedData(hp.name)
                                </td>
                                <td>
                                    @Html.DisplayFormattedData(hp.version + ".0")
                                </td>
                                <td>
                                    @Html.DisplayFormattedData(hp.dateAdd.Value.ToString())
                                </td>
                                <td>
                                    @Html.DisplayFormattedData(hp.CreatedBy.name)
                                </td>
                            </tr>
                            }
                        }
                    </tbody>
                </table>
            </div>
            <!--end detail_description_area-->
            <div class="detail_description_area fluid_wrap">
                <ul class="form_items_container col-lg-6 pl0">
                    <li>
                        <div class="detail_title_container fluid_wrap">
                            <h3 class="detail_section_titles">@Html.DisplayNameFor(model => model.target):</h3>
                        </div>
                        <span class="the_info fl">@Html.DisplayFormattedData(Model.target)</span>
                    </li>
                    <li>
                        <div class="detail_title_container fluid_wrap">
                            <h3 class="detail_section_titles">@Html.DisplayNameFor(model => model.Glossaries):</h3>
                        </div>
                        <span class="the_info fl">
                            @foreach (Glossary g in Model.Glossaries)
                            {
                                <label>- </label> @Html.DisplayFormattedData(g.term) <br />
                            }
                        </span>
                    </li>
                    <li>
                        <div class="detail_title_container fluid_wrap">
                            <h3 class="detail_section_titles">@Html.DisplayNameFor(model => model.Annexes):</h3>
                        </div>
                        <span class="the_info fl">
                            @foreach (Document d in Model.Annexes)
                            {
                                <label>- </label> @Html.DisplayFormattedData(d.DocumentType.name + ". " + d.title) <br />
                            }
                        </span>
                    </li>
                </ul>
                <ul class="form_items_container col-lg-6 pr0">
                    <li>
                        <div class="detail_title_container fluid_wrap">
                            <h3 class="detail_section_titles">@Html.DisplayNameFor(model => model.procedureScope):</h3>
                        </div>
                        <span class="the_info fl">@Html.DisplayFormattedData(Model.procedureScope)</span>
                    </li>
                    <li>
                        <div class="detail_title_container fluid_wrap">
                            <h3 class="detail_section_titles">@Html.DisplayNameFor(model => model.Normatives):</h3>
                        </div>
                        <span class="the_info fl">
                            @foreach (Document d in Model.Normatives)
                            {
                                <label>- </label> @Html.DisplayFormattedData(d.title) <br />
                            }
                        </span>
                    </li>
                    <li>
                        <div class="detail_title_container fluid_wrap">
                            <h3 class="detail_section_titles">@Html.DisplayNameFor(model => model.References):</h3>
                        </div>
                        <span class="the_info fl">
                            @foreach (Document d in Model.References)
                            {
                                <label>- </label> @Html.DisplayFormattedData(d.DocumentType.name + ". " + d.title) <br />
                            }
                        </span>
                    </li>
                </ul>

                <div class="detail_description_area fluid_wrap">
                    <div class="detail_title_container fluid_wrap">
                        <h3 class="detail_section_titles">@Html.DisplayNameFor(model => model.ProcedureActivities)</h3>
                    </div>
                    <table class="eis_table table normalTable">
                        <thead>
                            <tr>
                                <th>
                                    @Html.Label("Responsable")
                                </th>
                                <th>
                                    @Html.Label("Actividades y directrices")
                                </th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var item in Model.ProcedureActivities)
                            {
                                <tr>
                                    <td>
                                        @Html.DisplayFormattedData(item.User1.name)
                                    </td>
                                    <td>
                                        @Html.DisplayFormattedData(item.activity)
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
            <!--end detail_description_area-->

        </div>
        <!--end documents_detail-->
        <ul class="form_items_container col-lg-6 pl0">

            <li>
                <div class="form_items_container col-lg-8">
                    @Html.ActionLink("Editar", "Edit", new { id = Model.ID }, new { @class = "button_generic btstyles col-lg-5" })
                    @Html.ActionLink("Cancelar", "Index", null, new { @class = "button_cancel btstyles col-lg-5" })
                </div>
            </li>
        </ul>
    </div>
    <!--end drag_container_the_content_area-->
</div>
<!--end drag_and_drop_container-->
