@model SGC_MVC.Models.LocalPasswordModel

<p>
    Usted no tiene una contrase&ntilde;a local para este sitio. A&ntilde;ada una
    contrase&ntilde;a local para poder iniciar sesi&oacute;n sin usar un inicio de
    sesi&oacute;n externo.
</p>

@using (Html.BeginForm("Manage", "Account", FormMethod.Post, new { @class = "standard_form fluid_wrap" }))
{
    @Html.AntiForgeryToken()
    @Html.ValidationSummary()

    <fieldset>
        <legend>Indique su contrase&ntilde;a aqu&iacute;</legend>
        <ul class="form_items_container col-lg-6 pl0">
            <li>
                @Html.LabelForR(m => m.NewPassword)
                @Html.PasswordFor(m => m.NewPassword, new { @class = "col-lg-12 form-control" })
            </li>
            <li>
                @Html.LabelForR(m => m.ConfirmPassword)
                @Html.PasswordFor(m => m.ConfirmPassword, new { @class = "col-lg-12 form-control" })
            </li>
            <li>
                <div class="form_items_container col-lg-12 pl0">
                    <input type="submit" value="Establecer" class="button_save btstyles col-lg-5" />
                </div>
            </li>
        </ul>
    </fieldset>
}
